<- include("header") ->

<div class="container">
  <h1>Something wrong</h1>
  <p>Your Order was not placed</p>
  <p>We will request you to proceed again</p>
  <p>Thanks</p>
</div>

<- include("footer") ->
