<%- include("header") -%>
<div class="container">
  <h1>SUCCESS</h1>
  <p>Order is sucessfully placed</p>
  <p>You will recieve you product within few days</p>
  <p>Visit again</p>
</div>

<%- include("footer") -%>
